body {
    background-color: #F3F3FE; 
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif
}

h1, h4 {
    margin: 15px 0px 15px 0px;
}

p {
    margin: 10px 0 10px 0;
}

hr {
    margin-bottom: 20px;
}

#container {
    /* display: flex;
    flex-direction: column; */
    padding: 25px;
    width: 75rem;
    background-color: white;
}

#container > div {
    margin-bottom: 15px;
}

#c_submit {
    position: absolute;
    left: 48%;
    padding: 10px;
}

/* -------------------------- EDIT - NAME INFORMATION -------------------------- */

#name_div > div {
    display: flex;
    gap: 15px;
}

.n_input_div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

input {
    padding: 5px;
    margin-bottom: 5px;
}

label {
    font-size: 12px;
    color: grey;
}

/* -------------------------- EDIT - EMAIL / PHONE INFORMATION -------------------------- */

#address_div {
    display: flex;
    gap: 15px;
}

#address_div > div {
    flex: 1;
}

#e_input_div, #p_input_div, #address_input_div {
    display: flex;
    flex-direction: column;
    /* width: 49.3%; */
}

/* -------------------------- EDIT - EDUCATION / PROFESSIONAL INFORMATION -------------------------- */


.add_edu:hover, .add_prof:hover {
    cursor: pointer;
}

img {
    width: 25px;
}

.add_edu, .add_prof {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: dotted;
    border-color: grey;
    gap: 10px;
    padding: 10px;
    margin-top: 15px;
}

.edu_card, .prof_card {
    margin: 15px 0 15px 0;
    padding: 10px;
    border: solid thin grey;
    border-radius: 10px;
}

.edu_card > input, .prof_card > input {
    margin: 0px 15px 15px 0;
}

.edu_card > div {
    display: flex;
}

.edu_card > div > input, .prof_card > div > input {
    margin-right: 15px;
}

.edu_card > div > button {
    float: right;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

.prof_card {
    display: flex;
    flex-direction: column;
}

.btn_div {
    margin-left: auto;
}

.btn_div > button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

.responsibilities {
    margin-top: 5px;
    width: 99.5%;
    height: 75px;
    resize: none;
}

/* -------------------------- EDIT - NAV -------------------------- */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100rem;
    height: 15rem;
    background: lightgrey;
}

nav > div {
    padding: 15px;
}

#f_name {
    font-size: 60px;
    font-weight: bold;
}

#f_address {
    font-size: 20px;
}

#f_bot_info {
    display: flex;
    gap: 20px;
}

/* -------------------------- EDIT - WRAPPER -------------------------- */

#wrapper {
    width: 100rem;
}

#f_professional > h1, #f_education > h1 {
    margin-top: 40px;
}

.exp_div {
    margin-bottom: 30px;
}

.target {
    margin-top: 0px;
}

h3 {
    margin: 5px 0 5px 0;
}

